* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  color: aliceblue;
}

.gallery{
  min-height: 30rem;
  height: 100vh;
  position: relative;
  background-image: url(../media/img1.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  perspective: 1000px;
  transition: 0.3s;
}

.gallery.fade-out {
  opacity: .5;
}

.gallery.fade-in {
  opacity: 1;
}

.caption{
  background: linear-gradient(
    rgba(0, 0, 0, 0)
    #000
  );
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 4rem, 1rem, 2rem, 1rem;
  margin-bottom: 5rem;
  text-align: center;
}

.caption h1{
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

p{
  color: rgba(255, 255, 255, 0.747);
  font-size: 1.2rem;
}

.left, .right{
  background: #ffffffb2;
  position: absolute;
  top: 40%;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}

.left:hover,.right:hover{
  background: #ffffff33;
}

.left{
  left: 1rem;
}

.right{
  right: 1rem;
}

.dots{
  position: absolute;
  color: #fff;
  bottom: 2rem;
  left: 0;
  gap: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.dots li{
  list-style: none;
  width: .75rem;
  height:.75rem;
  background-color: #fff;
  margin:.75rem;
  border-radius: 1.125rem;
  cursor: pointer;
  transition: 0.5s;
}

.dots li.active{
  width: 2rem;
}

@media (max-width: 768px) {
  .left,.right{
    display: none;
  }
  .dots {
    bottom: 1rem; 
  }

  .dots li {
    width: 0.5rem; 
    height: 0.5rem;
    margin: 0.5rem;
  }

  .dots li.active {
    width: 1.5rem; 
  }

  .caption {
    padding: 2rem 1rem 1rem 1rem; 
    margin-bottom: 3rem;
  }

  .caption h1 {
    font-size: 2rem; 
  }

  p {
    font-size: 1rem; 
  }
}